<html>
  <head xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="izypay.js"></script>
    <title></title>
  </head>
  <header class="page-header">

  </header>
  <body ng-app="Izypay" ng-controller="IzypayCtrl">
    <div class="container">
      <img src="./logo.png" alt="Logo Izypay" class="img-responsive" style="float : right">
      <img src="./logo_iut.png" alt="Logo IUT" class="img-responsive" style="float : left">
        <ul class="navbar nav nav-tabs spacer" >
          <li class="cliquable" ng-class="{active: select==1}"><a ng-click="selectionTout()">Toutes les transactions</a></li>
          <li class="cliquable" ng-class="{active: select==5}"><a ng-click="selection5()">Les 5 évènements ayant le plus de transactions</a></li>
        </ul>
        <input type="text" ng-model="filtreP" placeholder="Recherche par mot-clé" class="spacer form-control afficheNone" ng-class="{affiche : select==1}">
        <div class="afficheNone" ng-class="{affiche : select==1}">
        <table class="table table-striped spacer ">
          <thead>
            <tr class="spacer">
              <th>Identifiant</th>
              <th>Nom de l'évènement</th>
              <th>Merchant</th>
              <th>Terminal</th>
              <th>Status</th>
              <th>Identifiant carte</th>
              <th>Type de carte</th>
              <th>Montant</th>
              <th>Devise</th>
              <th>Pays</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in events | filter : filtreP">
              <td>{{event.id}}</td>
              <td>{{event.event_name}}</td>
              <td>{{event.merchant}}</td>
              <td>{{event.terminal}}</td>
              <td>{{event.status}}</td>
              <td>{{event.card_id}}</td>
              <td>{{event.card_type}}</td>
              <td>{{event.amount}}</td>
              <td>{{event.currency}}</td>
              <td>{{event.country}}</td>
              <td>{{event.created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="afficheNone" ng-class="{affiche : select==5}">
<div class="alert alert-info">Les évènements ayants le plus de transactions sont, dans l'odre décroissant : <strong>Regrant</strong>, <strong>Zoolab</strong>, <strong>Tin</strong>, <strong>Quo lux</strong> et <strong>Tempsoft</strong>.</div>
        <table class="table table-striped" ng-repeat="event in tab" >
          <caption><strong>Transactions de l'évènement : {{event}}</strong></caption>
          <thead>
            <th>Identifiant</th>
            <th>Merchant</th>
            <th>Terminal</th>
            <th>Status</th>
            <th>Identifiant carte</th>
            <th>Type de carte</th>
            <th>Montant</th>
            <th>Devise</th>
            <th>Pays</th>
            <th>Date</th>
          </thead>
          <tbody>
            <tr ng-repeat="transac in events | filter : event">
              <td>{{transac.id}}</td>
              <td>{{transac.event_name}}</td>
              <td>{{transac.merchant}}</td>
              <td>{{transac.terminal}}</td>
              <td>{{transac.status}}</td>
              <td>{{transac.card_id}}</td>
              <td>{{transac.card_type}}</td>
              <td>{{transac.amount}}</td>
              <td>{{transac.currency}}</td>
              <td>{{transac.country}}</td>
              <td>{{transac.created}}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </body>
</html>
